.App {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  padding: 20px;
  background-color: #ffc107;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #212529;
    margin: 0;
    font-size: 2rem;
    text-align: center;
    padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #343a40;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #212529;
  color: #fff;
}

h2 {
  color: #212529;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  color: #212529;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #343a40;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffc107;
  color: #212529;
}

input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: #ffc107;
}

i {
    margin-right: 8px;
}

button i {
    margin-right: 5px;
    color: #ffc107;
}